In [1]:
from pyDatalog import pyDatalog

In [289]:
pyDatalog.create_terms('car_brand, rental_cost, client,issue,number_of_requests,discount,discount_rental_price, A, B, C,D,E,F,N')

In [290]:
+ car_brand('Hyundai i10','A')

In [291]:
+ car_brand('Chevrolet Aveo','B')

In [292]:
+ car_brand('Toyota Corolla','C')

In [293]:
+ car_brand('Audi A4','D')

In [294]:
+ car_brand('Renault Logan','B')

In [295]:
print(car_brand(A,B))

A              | B
---------------|--
Renault Logan  | B
Audi A4        | D
Toyota Corolla | C
Chevrolet Aveo | B
Hyundai i10    | A

In [296]:
print(car_brand(A,'B'))

A
--------------
Chevrolet Aveo
Renault Logan

In [297]:
rental_cost['Hyundai i10']=5500

In [298]:
rental_cost['Chevrolet Aveo']=6200

In [345]:
rental_cost['Toyota Corolla']=7900

In [346]:
rental_cost['Audi A4']=8700

In [347]:
rental_cost['Renault Logan']=6200

In [348]:
print(rental_cost[A]==C)

A              | C
---------------|-----
Renault Logan  | 6200
Audi A4        | 8700
Chevrolet Aveo | 6200
Hyundai i10    | 5500
Toyota Corolla | 7900

In [349]:
print(car_brand(A,B)&rental_cost(A,C))

A              | B | C
---------------|---|-----
Renault Logan  | B | 6200
Audi A4        | D | 8700
Toyota Corolla | C | 7800
Chevrolet Aveo | B | 6200
Hyundai i10    | A | 5500

In [350]:
print(car_brand(A,B)&rental_cost(A,C)&(C>'7000'))

A              | B | C
---------------|---|-----
Audi A4        | D | 8700
Toyota Corolla | C | 7800

In [351]:
print(car_brand(A,B)&rental_cost(A,C)&(C=='6200'))

A              | B | C
---------------|---|-----
Renault Logan  | B | 6200
Chevrolet Aveo | B | 6200

In [352]:
+client('Смирнов Павел Викторович','Hyundai i10')

In [353]:
+client('Желтышев Максим Валерьевич','Audi A4')

In [354]:
+client('Сабурова Наталья Николаевна','Chevrolet Aveo')

In [355]:
+client('Исаев Михаил Васильевич','Hyundai i10')

In [356]:
+client('Шестакова Марина Алексеевна','Toyota Corolla')

In [357]:
+client('Миронов Иван Андреевич','Chevrolet Aveo')

In [358]:
print(client(D,A))

D                           | A
----------------------------|---------------
Миронов Иван Андреевич      | Chevrolet Aveo
Шестакова Марина Алексеевна | Toyota Corolla
Исаев Михаил Васильевич     | Hyundai i10
Сабурова Наталья Николаевна | Chevrolet Aveo
Желтышев Максим Валерьевич  | Audi A4
Смирнов Павел Викторович    | Hyundai i10

In [359]:
print (client(D,'Hyundai i10'))

D
------------------------
Смирнов Павел Викторович
Исаев Михаил Васильевич

In [360]:
print (client(D,'Chevrolet Aveo'))

D
---------------------------
Сабурова Наталья Николаевна
Миронов Иван Андреевич

In [361]:
print (client(D,A)&rental_cost(A,C))

D                           | A              | C
----------------------------|----------------|-----
Миронов Иван Андреевич      | Chevrolet Aveo | 6200
Шестакова Марина Алексеевна | Toyota Corolla | 7800
Исаев Михаил Васильевич     | Hyundai i10    | 5500
Сабурова Наталья Николаевна | Chevrolet Aveo | 6200
Желтышев Максим Валерьевич  | Audi A4        | 8700
Смирнов Павел Викторович    | Hyundai i10    | 5500

In [362]:
print (client(D,A)&car_brand(A,B))

D                           | A              | B
----------------------------|----------------|--
Миронов Иван Андреевич      | Chevrolet Aveo | B
Шестакова Марина Алексеевна | Toyota Corolla | C
Исаев Михаил Васильевич     | Hyundai i10    | A
Сабурова Наталья Николаевна | Chevrolet Aveo | B
Желтышев Максим Валерьевич  | Audi A4        | D
Смирнов Павел Викторович    | Hyundai i10    | A

In [363]:
print (client(D,A)&car_brand(A,B)&car_brand(A,'B'))

D                           | A              | B
----------------------------|----------------|--
Миронов Иван Андреевич      | Chevrolet Aveo | B
Сабурова Наталья Николаевна | Chevrolet Aveo | B

In [364]:
print (client(D,A)&rental_cost(A,C)&rental_cost('Audi A4',C))

D                          | A       | C
---------------------------|---------|-----
Желтышев Максим Валерьевич | Audi A4 | 8700

In [365]:
number_of_requests['Смирнов Павел Викторович']=3

In [366]:
number_of_requests['Желтышев Максим Валерьевич']=2

In [367]:
number_of_requests['Сабурова Наталья Николаевна']=1

In [368]:
number_of_requests['Исаев Михаил Васильевич']=1

In [369]:
number_of_requests['Шестакова Марина Алексеевна']=2

In [370]:
number_of_requests['Миронов Иван Андреевич']=4

In [371]:
print(number_of_requests[D]==E)

D                           | E
----------------------------|--
Исаев Михаил Васильевич     | 1
Сабурова Наталья Николаевна | 1
Смирнов Павел Викторович    | 3
Желтышев Максим Валерьевич  | 2
Шестакова Марина Алексеевна | 2
Миронов Иван Андреевич      | 4

In [372]:
print(number_of_requests[E]>1)

E
---------------------------
Смирнов Павел Викторович
Желтышев Максим Валерьевич
Шестакова Марина Алексеевна
Миронов Иван Андреевич

In [373]:
print((number_of_requests[D]==E)&(E>2))

D                        | E
-------------------------|--
Смирнов Павел Викторович | 3
Миронов Иван Андреевич   | 4

In [374]:
+(discount[None]==0.10)

In [375]:
discount_rental_price[F]= rental_cost[C]*(1-discount[None])

In [376]:
print(C==rental_cost[F]*(1-discount[None]))

F              | C
---------------|-------
Renault Logan  | 5580.0
Audi A4        | 7830.0
Chevrolet Aveo | 5580.0
Hyundai i10    | 4950.0
Toyota Corolla | 7110.0

In [377]:
discount_rental_price[F]= rental_cost[C]*(1-discount[None])

In [378]:
print((rental_cost[F]==C)&(discount_rental_price[F]==D))

F              | C    | D
---------------|------|-------
Renault Logan  | 6200 | 7830.0
Audi A4        | 8700 | 5580.0
Chevrolet Aveo | 6200 | 4950.0
Hyundai i10    | 5500 | 7110.0
Toyota Corolla | 7900 | 7110.0

In [379]:
(discount[F]==0.10)<=(0<=F)

discount[1]==(*,F,'0.1') <= >=(F,'0')

In [380]:
discount_rental_price[F]=rental_cost[F]*(1-discount[rental_cost[F]])

In [381]:
print(discount[5580]==D)

D
---
0.1

In [382]:
(discount[F]==0.10)<=(0<=F)

discount[1]==(*,F,'0.1') <= >=(F,'0')

In [383]:
(discount[F]==0.05)<=(7500<=F)

discount[1]==(*,F,'0.05') <= >=(F,'7500')

In [384]:
print(discount[8700]==N)

N
----
0.05

In [385]:
print(discount[6200]==N)

N
---
0.1

In [386]:
print(discount[5500]==N)

N
---
0.1

In [387]:
print(discount[7900]==N)

N
----
0.05